.bg-mygray {
    color: rgb(5, 5, 5);
}

/* .textboxwidth {
    height: 25%;
    width: 25%;
} */

.myimage img {
    max-width: 400px;
    max-height: 400px;
}

.text-lightyellow {
    color: rgb(244, 224, 109);
}